body{
    background-color: #BC9D71;
}
.wrapper{
    text-align: center;
}
h1{
    color: hsl(120, 100%, 25%);
}
h2{
    color: white;
}


.btn{
    color: white;
    background-color: #0B2C54;
    border-radius: 10px;
    margin: 10px;
}
.btn{
    color: white;
    background-color: #0B2C54;
}
.wrapper_two{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loto{
    background-color: silver;

}
#btn{
    margin: 0 auto;
}
#btns{
    display: flex;
    justify-content: space-around;
}